@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
    --color-secondary-50: #f8e9f2;
    --color-secondary-100: #f0d3e5;
    --color-secondary-200: #e8bdd8;
    --color-secondary-300: #e0a7cb;
    --color-secondary-400: #d48fc0;
    --color-secondary-500: #955069;
    --color-secondary-600: #7a3f5c;
    --color-secondary-700: #5f3550;
    --color-secondary-800: #442b43;
    --color-secondary-900: #2a212e;
    --color-secondary-950: #1a161b;
}

/* Primary and Surface Palettes */
:root {
    --p-primary-50: #eef4f9;
    --p-primary-100: #cbdded;
    --p-primary-200: #a8c6e2;
    --p-primary-300: #86afd6;
    --p-primary-400: #6399ca;
    --p-primary-500: #4082bf;
    --p-primary-600: #356a9c;
    --p-primary-700: #295379;
    --p-primary-800: #1d3b57;
    --p-primary-900: #122334;
    --p-primary-950: #022c22;
    --p-surface-0: #ffffff;
    --p-surface-50: #fafafa;
    --p-surface-100: #f4f4f5;
    --p-surface-200: #e4e4e7;
    --p-surface-300: #d4d4d8;
    --p-surface-400: #a1a1aa;
    --p-surface-500: #71717a;
    --p-surface-600: #52525b;
    --p-surface-700: #3f3f46;
    --p-surface-800: #27272a;
    --p-surface-900: #18181b;
    --p-surface-950: #09090b;
    --p-content-border-radius: 6px;

    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Faustina', serif;
    --font-title: 'Petrona', sans-serif;
    --font-faustina: 'Faustina', serif;
    --font-newsreader: 'Newsreader', serif;
    --font-work-sans: 'Work Sans', sans-serif;

    --p-secondary-500: var(--color-secondary-500);
}

/* Light */
:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);

    --p-secondary-color: var(--p-secondary-500);
}

/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
    :root {
        --p-primary-color: var(--p-primary-400);
        --p-primary-contrast-color: var(--p-surface-900);
        --p-primary-hover-color: var(--p-primary-300);
        --p-primary-active-color: var(--p-primary-200);
        --p-content-border-color: var(--p-surface-700);
        --p-content-hover-background: var(--p-surface-800);
        --p-content-hover-color: var(--p-surface-0);
        --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
        --p-highlight-color: rgba(255, 255, 255, 0.87);
        --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
        --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
        --p-text-color: var(--p-surface-0);
        --p-text-hover-color: var(--p-surface-0);
        --p-text-muted-color: var(--p-surface-400);
        --p-text-hover-muted-color: var(--p-surface-300);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}
